{
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "bracketSpacing": true
      }
    }
  ]
}
